[submodule "Realm"]
  path = Realm
  url = git@github.com:RagedUnicorn/mangos-submodule-realmddb.git
[submodule "Translations"]
  path = Translations
  url = git@github.com:RagedUnicorn/mangoszero-submodule-localised.git
